html, body {
  margin: 0;
  padding: 0;
}
#nav {
    position: sticky;
    top:0;
    left: 0;
    color: #252D73;
    margin: 0;
    padding: 15px;
    list-style: none;
    z-index: 1;
  }

  #nav a {
    display: block;
    padding: 10px 10px;
    color: #252D73;
    text-decoration: none;
    font-weight: bolder;

  }
  
  #nav a:hover {
    color: black;
  }

  #nav a:focus {
    color: #73194D;
  }
  