html, body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  #nav {
    position: fixed;
    top:400px;
    left: 0;
    background: #333;
    margin: 0;
    padding: 15px;
    list-style: none;
    border-radius: 0 0 10px 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
  }
  
  #nav a {
    display: block;
    padding: 10px 10px;
    color: #fff;
  }
  
  #nav a:hover {
    color: #ff0;
  }
  
  .section {
    height: 1000px;
    padding: 30px 140px;
  }
  