:root {
    --blue-color: #252D73;
    --purple-color: #61429B;
    --white-color: #E8E8E8;
    --burgundy-color: #73194D;
    --gold-color: #E4CD7D;
    --grey-color: #454545;

    --purple-shade1: #7958bc;
    --purple-shade2: #9b81c9;
    --purple-shade3: #cec1e5;
}
html, body {
    width: 100%;
    margin: 0;
}

/* START jumbotron styles */
.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 250px;
    background-image: url(https://2019.igem.org/wiki/images/f/fc/T--CMUQ--wikiimglab.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
.jumbotron .mainHeader {
    text-align: center;
    color: #fff;
    line-height: 32px;
}
.jumbotron .mainHeader h1 {
    margin: 0;
    font-size: 48pt;
    color: #fff;
    line-height: 48pt;
}
.jumbotron .mainHeader h1 a {
    color: #fff !important;
    text-decoration: none !important;
    border-bottom: dotted 3px rgba(255, 255, 255, 0.5) !important;
    line-height: 32pt !important;
}
/* END jumbotron styles */

/* START description styles */

.description .orderedList {
    text-decoration: none;
    color: white;
    text-align: justify;

}
.description .links {
    text-decoration: none !important;
    color: var(--gold-color) !important;
    
}

.description h1 .refTitle {
    color: var(--gold-color) !important;
    
}

.description .links:hover {
    text-decoration: underline !important;
    color: white !important;

}

.description #blockPicture {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
}
.description .blockContainer {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.description .purpleBackground {
    background-color: var(--purple-color) !important;
}

.description .purple1Background {
    background-color: var(--purple-shade1) !important;
}

.description .purple2Background {
    background-color: var(--purple-shade2) !important;
}
.description .purple3Background {
    background-color: var(--purple-shade3) !important;
}
.description .whiteBackground {
    background-color: #fff !important;
}
.description .blackBackground {
    background-color: #000 !important;
}
.description .neonGreenBackground {
    background-color: #00ff00 !important;
}
.description .darkGreenBackground {
    background-color: #38761d !important;
}


.description .purpleText {
    color: var(--purple-color) !important;
}
.description .blueText {
    color: var(--blue-color) !important;
}
.description .goldText {
   color: var(--gold-color) !important;
}
.description .whiteText {
    color:#fff !important;
}

.description .block.purpleBackground p, .description .block.purpleBackground h1 {
    color: #fff !important;
}
.description .block {
    padding: 20px;
}
.description .block .blockContent {
    line-height: 28pt !important;
    font-size: 16pt !important;
    text-align:justify !important;

}

.description .block .blockTitle {
    line-height: 28pt !important;
    font-size: 22pt !important;
}
.description .block .inlineblockTitle {
    line-height: 28pt !important;
    font-size: 22pt !important;
}


.description .block:not(.purpleBackground) p, .description .block:not(.purpleBackground) h1 {
    color: var(--purple-color) !important;
}

.description .button {
    border: none !important;
    border-radius: 4px !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    box-shadow: 0 0 5px grey !important;
}

.description .button:hover {
    filter: brightness(85%) !important;
    
}
.description .whitebutton {
    background-color: white !important; /* White */
    color: black !important ;

}
.description .blackButton {
    background-color: black !important; /* Black */
    color: white !important;

}

.description .blueButton {
    background-color: var(--blue-color) !important; /* Blue */
    color: white !important;
}
.description .purpleButton {
    background-color: var(--purple-color) !important; /* Purple */
    color: white !important;
}
    /* START imageSlider styles */

    .description .imageSliderBlock {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .description .imageSliderBlock:nth-child(even) {
        background-color: #f2f2f2;
    }
    .description .imageSliderBlock .imageSliderContent {
        line-height: 22pt;
    }
    .description .imageSliderPicture img {
        width: 900px;
        height: 675px;
        object-fit: cover;
    }
    .description .imageSliderContent.marginRight {
        margin-right: 20px;
    }
    .description .imageSliderContent.marginLeft {
        margin-left: 20px;
    }
    /* END imageSlider styles */

    /* START slider styles */
    .swiper-container {
        width: 900px;
        height: 675px;
        }
        .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    /* END slider styles*/

/* END description styles */


/* START template styles */
.alignWidth {
    width: calc(100% - 20px);
    max-width: 1100px;
    margin: 0 auto;
}
.collapsible details summary {
    background-color: var(--purple-color);
    padding: 20px;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.collapsible details p {
    padding: 20px;
    background-color: #eee;
    margin: 0;
    outline: none;
    color: #000;
}
.collapsible details .detailsContent {
    padding: 20px;
    background-color: #eee;
    margin: 0;
    outline: none;
    color: #000;
}
.collapsible details {
    padding: 20px;
}
.collapsible summary {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.collapsible details p {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}
.collapsible .addPadding {
    background-color: #eee;
}
.collapsible img {
    max-width: 100%;
}
.noHorizontalPadding {
    padding: 20px 0 !important;
}

.table, table {
    width: calc(100% - 10px);
    text-align: left;
    margin: 0 auto;
}
.table table {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border-collapse: collapse;
}
.table table th {
    background-color: var(--purple-color) !important;
    padding: 10px;
    color: #fff !important;
}
.table table td {
    padding: 10px;
}
.table table tr:nth-child(odd) {
    background-color: #eee;
}
.grid .parentGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100%);
}
.grid .parentGrid img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    margin: 5px;
}

.grid .parentGrid .sponsorImg {
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin: 5px;
}

.textGrid .cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.textGrid img {
    display: inline-block;
    width: 50% !important;
}
.blockNoHorizPadding {
    padding: 20px 0 !important;
}
.picWrap .blockContent, .picNoWrap .blockContent {
    color: var(--purple-color) !important;
    line-height: 28pt !important;
    font-size: 16pt !important;
    text-align: justify !important;
}
.picWrap img {
    max-width: 350px !important;
    max-height: 350px !important;
    min-width: 350px !important;
    min-height: 350px !important;
    float: right;
    margin: 0 0 20px 20px;
    object-fit: contain;
}



.picNoWrap .blockContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.picNoWrap img, .picNoWrap p {
    display: inline-block;
}
.picNoWrap img.leftMargin, .picNoWrap video.leftMargin {
    margin: 0 0 0 20px;
}
.picNoWrap img.rightMargin, .picNoWrap video.rightMargin {
    margin: 0 20px 0 0;
}
.picNoWrap img.leftMargin {
    max-width: 350px !important;
    max-height: 350px !important;
    min-width: 350px !important;
    min-height: 350px !important;
    object-fit: contain;
}
/* END template styles */


/* START team styles */
.team .members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team .member {
    margin: 20px;
}
.team .member .memberPicture {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
}
.team .member .memberName {
    display: inline-block;
    margin: 10px 0 10px 0;
    line-height: 20px;
    padding: 0;
    font-size: 20px !important;
}
.team .member .memberLinkedIn {
    position: absolute;
    display: inline-block;
    height: 18px;
    margin: 10px 0 0 10px;
}
.team .member .memberTitle {
    display: block;
    margin: 0;
    color: #888;
    font-size: 14px !important;
}
.team .member .overlayContainer {
    position: relative;
    width: 100%;
}
.team .member .overlayContainer:hover .overlay, .team .member .overlayContainer:active .overlay {
    opacity: 1;
}
.team .member .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
}
.team .member .overlayText {
    color: #000;
    font-size: 12pt !important;
    line-height: 1.5rem;
}
.team .member .viewResume {
    text-decoration: none;
    color: var(--burgundy-color);
}
.team .divider {
    width: 100%;
    display: block;
}
/* END team styles */

/* START team picture styles */
.teamPicture {
    width: 100%;
    height: 500px;
    background-image: url(https://2019.igem.org/wiki/images/a/af/T--CMUQ--wikiteam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* END team picture styles */

/* START details styles */
.details .block:nth-child(odd).block:not(.purpleBackground) {
    background-color: #f2f2f2 !important;
}
.details .textPicture {
    display: block !important;
    margin: 0 auto !important;
    max-width: 100% !important;
    object-fit: contain !important;
}
.details .block .blockPos {
    display: inline-block !important;
    background-color: var(--purple-color) !important;
    color: #fff !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center !important;
    margin-right: 15px !important;
    line-height: 50px !important;
}
/* END details styles */

/* START misc. styles */
@font-face {
    font-family: 'Ubuntu';
    src: url(https://2019.igem.org/wiki/images/c/c3/T--CMUQ--wikiubunturegular.ttf);
}
.text-ubuntu {
    font-family: 'Ubuntu' !important;
}
.sectionTitle {
    font-family: 'Ubuntu' !important;
    color: #000 !important;
    text-align: center;
    font-size: 8pt !important;
    margin-bottom: 30px !important;
    line-height: 26pt !important;
    text-align:justify !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.clear-user-agent-styles-padding {
    background-color: transparent !important;
    border: 0 solid transparent !important;
    outline: none !important;
    background: transparent !important;
    padding: 20px !important;
}
.clear-user-agent-styles-padding td {
    padding: 20px !important;
    border: 0 solid transparent !important;
    vertical-align: middle !important;
}
/* END misc. styles */




/* START media queries */
/* Mobiles/Tablets */
@media (min-width : 320px) and (max-width : 767px) {
    .jumbotron {
        height: 200px;
    }
    .jumbotron .mainHeader h1 {
        font-size: 32pt;
    }
    .jumbotron {
        background-attachment: inherit;
    }
    .description .block .blockContent {
        line-height: 18pt !important;
        font-size: 12pt !important;
    }
    .description .block .blockTitle {
        line-height: 18pt !important;
        font-size: 20pt !important;
    }

    .swiper-container {
        margin: 0 auto;
        width: 100%;
        height: 100%;

    }
    .description .imageSliderPicture img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .textGrid .cont {
        flex-direction: column;
    }
    .textGrid .cont img {
        width: 100% !important;
    }
    .teamPicture {
        background-attachment: inherit;
        background-size: contain;
    }
    .picNoWrap .blockContainer {
        flex-direction: column !important;
    }
    .blockContainer img, .picNoWrap img.leftMargin {
        width: 100% !important;
        height: 200px !important;
        margin: 0 !important;
        object-fit: cover;
    }
}
/* END media queries */
