@supports (display: grid) {
  
  *,*:before,*:after {
    box-sizing: border-box;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    text-align: center;
    transform-origin: center;
    top: -10px;
  }
  
  .diamond span {
    font-weight: bold;
  }
  
  
  .tooltip {
    position: absolute;
    z-index: 1;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    background: #29343d;
    opacity: 0;
    color: #cedfe9;
    font-size: 0.875rem;
    transition: opacity 500ms, transform 500ms;
    width: 500px;
  }
  
  .tooltip:before {
    content: '';
    position: absolute;
    top: -9px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #29343d;
  }
  
  .item:hover .tooltip,
  .item:focus .tooltip {
    opacity: 1;
    transform: translateY(50px);
  }
  
   .item {
    position: relative;
    /*padding: 1vw;*/
    background-position:  left bottom;
    /*background-size: 150% 100%;*/
    transition: background 500ms, outline 500ms;
    background-position: center;
    outline: transparent;
  }
  
  .item:hover,
  .item:focus {
    background-position: top right;
  }